server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          basedir: ./config
          uri: https://github.com/naxienianHaiF/config.git    # config url
          username: 1342633711@qq.com
          password: '********'